<!DOCTYPE html>
<html>

<head>
    <title>Student Organizer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel='stylesheet' href='./index.css'>
    <script type="text/javascript" src="./controller.js"></script>
</head>

<body>

    <div ng-app="studentOrganizer" ng-cloak ng-controller="myCtrl" data-ng-init="init()" class="container-fluid">

        <header class="jumbotron text-center">
            <h1 style='margin: 20px;'>Student Organizer</h1>
            <div>Active students: {{activetotal}}</div>
            <div>Inactive students: {{inactivetotal}}</div>
        </header>

        <div class="form-container container" style='max-width: 500px;'>
            <div>
                <h1 class="text-center" style='margin: 20px;'>Add a student</h1>
                <form class="addStudentForm">
                    <input type='text' placeholder="Name" ng-model="student.name" class="form-control">
                    <input type='number' placeholder="Student Number" ng-model="student.studentNumber" class="form-control">
                    <input type='text' placeholder="Address" ng-model="student.address" class="form-control">
                    <input type='number' placeholder="Phone number" ng-model="student.phoneNumber" class="form-control">
                    <input type='number' placeholder="GPA" ng-model="student.gpa" class="form-control">
                    <input type='text' placeholder="Academic plan (ex: CS, IT, etc.)" ng-model="student.plan" class="form-control">
                    <input type='number' placeholder="Year (ex: freshman, junior, etc.)" ng-model="student.year" class="form-control">
                    <div class="radio">
                        <input type="checkbox" ng-checked name="active" ng-model="student.activity" checked><label
                            style='font-size: 18px;'>Active</label>
                    </div>
                </form>
                <div class="container text-center" ng-model='mySwitch'>
                    <button ng-click="addStudent()" class="btn btn-success">Add Student</button>
                    <button class="btn btn-warning" name='all' ng-click="mySwitch = 'all'">View all</button>
                    <button class="btn btn-primary" name='active' ng-click="mySwitch = 'active'">View active</button>
                    <button class="btn btn-danger" name='inactive' ng-click="mySwitch = 'inactive'">View inactive</button>
                </div>
            </div>
            <p class="">{{errortext}}</p>
        </div>

        <div class='student-container text-center' ng-switch='mySwitch'>


            <div ng-switch-when='all'>
                <div class='row'>
                    <ul class="students list-group">
                        <li ng-repeat="x in students track by $index" class="student-list list-group-item  container text-left">
                            <h5 class="student-list">Name: {{x.name}}</h5>
                            <span class="student-list-item">Student Number: {{x.studentNumber}}</span>
                            <span class="student-list-item">Address: {{x.address}}</span>
                            <span class="student-list-item">Phone Number: {{x.phoneNumber}}</span>
                            <span class="student-list-item">GPA: {{x.gpa}}</span>
                            <span class="student-list-item">Academic Plan: {{x.plan}}</span>
                            <span class="student-list-item">Year: {{x.year}}</span>
                            <span class="student text-center">Activity: {{x.activity}}</span>


                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Activity
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" style="cursor:pointer;" ng-click="toggleActive($index, 'Active')">Active</a>
                                    <a class="dropdown-item" style="cursor:pointer;" ng-click="toggleActive($index, 'Inactive')">Not
                                        Active</a>
                                </div>

                            </div>

                            <span ng-click="removeItem($index)" style="cursor:pointer;" class="student float-right">×</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-switch-when='active'>
                <div class='row'>
                    <ul class="students list-group">
                        <li ng-repeat="x in studentsActive track by $index" class="student-list list-group-item  container text-left">
                            <h5 class="student-list">Name: {{x.name}}</h5>
                            <span class="student-list-item">Student Number: {{x.studentNumber}}</span>
                            <span class="student-list-item">Address: {{x.address}}</span>
                            <span class="student-list-item">Phone Number: {{x.phoneNumber}}</span>
                            <span class="student-list-item">GPA: {{x.gpa}}</span>
                            <span class="student-list-item">Academic Plan: {{x.plan}}</span>
                            <span class="student-list-item">Year: {{x.year}}</span>
                            <span class="student text-center">Activity: {{x.activity}}</span>


                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Activity
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" style="cursor:pointer;" ng-click="toggleActive($index, 'Active')">Active</a>
                                    <a class="dropdown-item" style="cursor:pointer;" ng-click="toggleActive($index, 'Inactive')">Not
                                        Active</a>
                                </div>

                            </div>

                            <span ng-click="removeItem($index)" style="cursor:pointer;" class="student float-right">×</span>
                        </li>
                    </ul>
                </div>
                >
            </div>

            <div ng-switch-when='inactive'>
                <div class='row'>
                    <ul class="students list-group">
                        <li ng-repeat="x in studentsInactive track by $index" class="student-list list-group-item  container text-left">
                            <h5 class="student-list">Name: {{x.name}}</h5>
                            <span class="student-list-item">Student Number: {{x.studentNumber}}</span>
                            <span class="student-list-item">Address: {{x.address}}</span>
                            <span class="student-list-item">Phone Number: {{x.phoneNumber}}</span>
                            <span class="student-list-item">GPA: {{x.gpa}}</span>
                            <span class="student-list-item">Academic Plan: {{x.plan}}</span>
                            <span class="student-list-item">Year: {{x.year}}</span>
                            <span class="student text-center">Activity: {{x.activity}}</span>


                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Activity
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" style="cursor:pointer;" ng-click="toggleActive($index, 'Active')">Active</a>
                                    <a class="dropdown-item" style="cursor:pointer;" ng-click="toggleActive($index, 'Inactive')">Not
                                        Active</a>
                                </div>

                            </div>

                            <span ng-click="removeItem($index)" style="cursor:pointer;" class="student float-right">×</span>
                        </li>
                    </ul>
                </div>
            </div>
            </ul>



        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>