.student-list-item {
  display: block;
}
.jumbotron {
  background-color: darkred;
  color: white;
}

.container-fluid {
  background-color: darkgray;
  height: 100%;
}

.student-container {
  margin: 5%;
  padding: 5%;
}
